---
layout: splash
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: /assets/images/header_home_3.jpg
intro: 
  - excerpt: "Hello visitor, my name is Marc-Philipp and i'm a Data Scientist. I'm working on *Artificial Intelligence* and *Machine Learning* solutions in the cloud with strong focus on Python and Azure. On this website i write about my personal side projects and topics i find interesting and valuable."
feature_row:
- image_path: /assets/images/data-analysis.png
  alt: "Data Analysis image"
  title: "Data Analysis"
  excerpt: "Finding Insights and Patterns in Data"
- image_path: /assets/images/artifical-intelligence.png
  alt: "Articifial Intelligence image"
  title: "Artificial Intelligence"
  excerpt: "Training and evaluating NLP and computer vision models"
- image_path: /assets/images/deployment.png
  title: "Deployment"
  excerpt: "Deploying models into production by creating data applications"
feature_row2:
- title: "Project 2 Title Placeholder"
  image_path: /assets/images/colored_pencils.jpg
  alt: "project 2 placeholder image"
  excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
  url: "#test-link"
  btn_label: "Read More"
  btn_class: "btn--primary"
---

<!-- The below code belongs to the yaml header, add if i have projects to show -->

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<!-- <br>
<br>

{% include feature_row id="feature_row2" type="center" %} -->
